---
import { Button } from "@/components/ui/button";
const { text, href, size, target = "_self", className = "" } = Astro.props;
---

<a href={href} target={target}>
  <Button variant="link"
    ><p class={`text-${size} ${className}`}>{text}</p></Button
  >
</a>
